<div class="bg-cover  " style="background-image: url( <%=asset_path 'footer-bg.jpg'%> )" >
# bg-[url('./images/footer-bg.png')] bg-footer
  <div class='container mx-auto'>
    footer 
  </div>
</div>
