# footer position relative and -50px, maybe add z-index
<div class="bg-bottom" style="background-image: url( <%=asset_path 'footer-bg.jpg'%> )" >
# bg-[url('./images/footer-bg.png')] bg-footer
  <div class='container mx-auto text-white'>
    footer 
  </div>
</div>
