


<div data-controller="cert" class="w-6/12 mx-auto rounded-2xl shadow-2xl bg-white p-5 mt-8">

  <div class="h3 py-10 text-center">
    页面更新中，敬请期待！
  </div> 
</div>

<div class="w-full my-6"></div> 
