
<div class="mx-auto mt-8 mb-8 relative" style="width: 1025px; height: 435px; background-image: url( <%=asset_path 'index-cert-bg.png'%> ) ">
  <%= link_to "", frontend.certifications_search_path, class: "absolute w-full h-full z-10", style: "top:0; left:0;" %>
  <div class="w-100 h-20"> </div>
  <div class="ml-24" > 
    <span class=" h2 text-white leading-normal">
      2022年春“前沿课堂”</br>
      全国小学语文、数学、英语</br>
      教学观摩研讨会学时证明查询      
    </span>
    <div class="w-full h-5"> </div>

    <div class="btn rounded-full bg-gradient-to-r from-orange-400 to-orange-600 text-white py-1 px-7 shadow-xl ">
      <%= link_to "详     情", frontend.certifications_search_path, class: "" %>
    </div>
  </div>


  <div class="absolute bg-black/70 w-full h-[50px] py-3 px-4 rounded-b-2xl" style="left: 0; bottom: 0;">
    <span class="h4 text-white">
      2022年春“前沿课堂”全国小学语文、数学、英语教学观摩研讨会学时证明查询  
    </span>
  </div>

</div>