<p style="color: green"><%= notice %></p>


<div class="mx-auto mt-8 relative" style="width: 1025px; height: 435px; background-image: url( <%=asset_path 'index-cert-bg.png'%> ) ">
  <div class="w-100 h-12"> </div>
  <div class="ml-24" > 
    <span class=" h2 text-white leading-normal">
      2022年春“前沿课堂”</br>
      全国小学教学观摩研讨会</br>
      学时证明查询      
    </span>
  </div>
</div>