<h1>Editing attend datum</h1>

<%= render "form", manager_attend_datum: @manager_attend_datum %>

<br>

<div>
  <%= link_to "Show this attend datum", @manager_attend_datum %> |
  <%= link_to "Back to attend data", manager_attend_data_path %>
</div>
