
<span class="text-2xl font-medium">
  <%= !@attend_data.blank? && @attend_data.first.jsj_form.name %>
</span>

<table class="table-striped-gray">
  <thead class="">
    <tr>
    <% Backend::AttendDatum.column_names.each do |name| %>
        <th class="px-3"><%= name %></th>
      <% end %>
    </tr>
  </thead>

  <tbody style="font-size: 14px;">
    <% @attend_data.each do |attend_datum| %>
      <tr>
        <% _attrs = attend_datum.attributes %>
        <% _attrs["conference_id"] = attend_datum.jsj_form.conference.name %>

        <% _attrs.each do |k, v| %>
          <td><%= truncate( v.to_s, length: 70 ) %></td>
        <% end %>

        <td><%= link_to '查看', manager_attend_datum_path(attend_datum), class: "btn btn-xs btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p></p>
