
<h1>Certifications search</h1>

<%= form_with url: frontend.certifications_search_datum_path do |form| %>
  phone:
  <%= form.text_field :phone %>
  name:
  <%= form.text_field :name %>

  <%= form.submit %>
<% end %>

<%# link_to "New certification pdf", new_certification_pdf_path %>
