<div class="max-w-screen-lg mx-auto">
  <h1>New external article</h1>

  <%= render "form", external_article: @external_article %>

  <br>

  <div>
    <%= link_to "Back to external articles", manager_external_articles_path, class: 'btn btn-sm btn-gray'  %>
  </div>
</div>