@layer components {
  .card {
    /* background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl'); */
  }

  .card-base {
    @apply border rounded
  }

  .card-header {
    @apply px-3 py-2
  }
}
