<h1>Editing article</h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Show this article", manager_article_path(@article) %>
  <%= link_to "Back to articles", manager_articles_path %>
</div>
