
<div class="max-w-screen-lg mx-auto my-5">
  <%= render partial: "article", locals: { article: @article } %>

  <div>
    <%= link_to "Edit this article", edit_manager_article_path(@article), class: 'btn btn-sm btn-primary' %> |
    <%= link_to "Back to articles", manager_articles_path, class: "btn btn-sm btn-gray" %>

    <%= button_to "Destroy this article", manager_article_path(@article), method: :delete, class: 'btn btn-sm btn-danger my-5' %>
  </div>
</div>