<header class="xl:container mx-auto relative h-[350px] rounded-bottom bg-bottom" style="background-image: url( <%=asset_path 'cert_header_bg.png'%> )">
  <div class="w-4/5 mx-auto relative flex justify-around content-center py-3 rounded-b-3xl shadow-2xl"  style="background-color: #FF4A00;">

    <%=render 'layouts/frontend/nav' %>


  </div>

  <div class="w-4/5 mx-auto">
    <div class=" mt-16 ml-24 ">
      <span class="h2 text-white leading-normal">
        2022年春“前沿课堂”</br>
        全国小学语文、数学、英语</br>
        教学观摩研讨会学时证明查询      
      </span>
    </div>
  </div>

</header>