<header class="xl:container mx-auto relative h-[220px] lg:h-[350px] rounded-bottom bg-bottom" style="background-image: url( <%=asset_path 'header-bg-blue.png'%> )">
  <%=render 'layouts/frontend/header_nav' %>

  <!-- mobile_nav -->
  <%=render 'layouts/frontend/mobile_nav' %> 

  <div class="w-full text-white h2 flex justify-center ">
    <div class="mt-14 lg:mt-28">
      <%= @navs_inst.current_nav[:name] %>
    </div>
  </div>

</header>