<div class="relative bg-[center_72%] bg-cover" style="height: 200px; background-image: url( <%=asset_path 'footer-bg.jpg'%> )" >
  <span class='absolute w-full h-full z-0 bg-black/80' style='top: 0px; left: 0px;'> </span>

  <div class='relative container mx-auto z-10 text-white'>
    <div class='flex justify-around pt-10'>
      <span class=''>版权@北京前沿课堂教育科技有限公司</span>
      <span class=''>地址：北京市海淀区马甸桥东19号金澳国际2206室</span>
      <span class=''>电话：010-62048760</span>
    </div>

    <div class='relative w-full mt-5' >
      <%= image_tag( 'qrc.png', size: '66x66', class: 'mx-auto' ) %> 
    </div>

  </div>
</div>
