  
<div class="hidden lg:block w-4/5 mx-auto relative flex justify-around content-center py-3 rounded-b-3xl shadow-lg"  style="background-color: #FF4A00;">
  <%=render 'layouts/frontend/nav' %>
</div>