<header class="xl:container mx-auto relative h-[350px] rounded-bottom bg-bottom" style="background-image: url( <%=asset_path 'cert_header_bg.png'%> )">
  <div class="w-4/5 mx-auto relative flex justify-around content-center py-3 rounded-b-3xl shadow-lg"  style="background-color: #FF4A00;">

    <%=render 'layouts/frontend/nav' %>

  </div>


</header>