<header class="xl:container mx-auto relative h-[350px] rounded-bottom bg-bottom" style="background-image: url( <%=asset_path 'header-bg-orange.png'%> )">
  <div class="w-4/5 mx-auto relative flex justify-around content-center py-3 rounded-b-3xl shadow-lg"  style="background-color: #FF4A00;">

    <%=render 'layouts/frontend/nav' %>

  </div>

  <div class="w-full text-white h2 flex justify-center mt-28">
    <div>
      <%= @navs_inst.current_nav[:name] %>
    </div>
  </div>


</header>