<h1>Editing jsj form</h1>

<%= render "form", manager_jsj_form: @manager_jsj_form %>

<br>

<div>
  <%= link_to "Show this jsj form", @manager_jsj_form %> |
  <%= link_to "Back to jsj forms", manager_jsj_forms_path %>
</div>
